body * {
  font-family: "Roboto", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100vw;
  background-color: white;
}

.navbar > * {
  margin: 10px;
}

/* Left section */
.logo-div {
  display: flex;
  align-items: center;
}

.logo-div > * {
  margin: 10px;
}

#list-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-div {
  display: flex;
  font-size: 0.7em;
  color: rgb(96, 96, 96);
}

#logo-icon {
  width: 80px;
  height: 18px;
  margin: 2px;
  cursor: pointer;
}

/* Search section */
.search-div {
  height: 32px;
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
}

#search-input {
  width: 550px;
  height: 32px;
  border: 1px solid transparent;
  border-right: 1px solid rgb(200, 200, 200);
  font-size: 1em;
  padding-left: 10px;
  border-radius: 2px;
  outline: none;
}

#search-input:focus {
  border: 1px solid rgb(0, 0, 170);
}

#search-button {
  width: 65px;
  height: 32px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(245, 245, 245);
  position: relative;
}

#search-button:hover {
  background-color: rgb(235, 235, 235);
}

#search-button:hover::after {
  content: "Search";
  position: absolute;
  top: 50px;
  left: 8px;
  color: white;
  background-color: gray;
  padding: 5px;
}

#search-button:hover > #search-bar-icon {
  filter: brightness(0%);
}

#search-bar-icon {
  width: 15px;
  height: 15px;
  filter: invert(48%) sepia(0%) saturate(1313%) hue-rotate(288deg)
    brightness(103%) contrast(80%);
}

@media only screen and (max-width: 1200px) {
  #search-input {
    width: calc(100vw - 600px);
  }
}

@media only screen and (max-width: 700px) {
  .search-div {
    display: none;
  }
}

/* Icons */

.navbar-icons {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.icons {
  filter: invert(48%) sepia(0%) saturate(1313%) hue-rotate(288deg)
    brightness(83%) contrast(80%);
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

#person-icon {
  height: 32px;
  width: 32px;
  margin: 0px 10px;
  border-radius: 100%;
  cursor: pointer;
}

#search-icon {
  display: none;
}

@media only screen and (max-width: 656px) {
  #search-icon {
    display: block;
  }
}

/* Main content */
.main-container {
  margin-top: 56px;
  background-color: rgb(246, 246, 246);
  width: 100vw;
  height: 1000px;
  display: grid;
  grid-template-areas:
    "video sidebar"
    "comments sidebar";
  grid-template-columns: 1fr 400px;
}

.main-container > div {
  /* outline: 1px solid green; */
}

.video {
  grid-area: video;
}

.sidebar {
  grid-area: sidebar;
}

.comments {
  grid-area: comments;
}

@media only screen and (max-width: 1000px) {
  .main-container {
    grid-template-areas: "video" "sidebar" "comments";
    grid-template-columns: 1fr;
  }
}

.video-content {
  margin: 25px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
}

.video-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-details {
  padding-top: 20px;
}

.video-title {
  font-size: 18px;
  height: 25px;
  margin: 5px 0;
}

.video-data {
  height: 40px;
  color: rgb(96, 96, 96);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video-data > p {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100vw - 360px - 50px);
  min-width: 50px;
}

.video-button-container {
  height: 40px;
  width: 360px;
  display: flex;
  align-items: flex-start;
}

.video-button {
  color: rgb(96, 96, 96);
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
  margin: 0px 5px;
  cursor: pointer;
  position: relative;
}

.video-button:focus {
  outline: 2px solid black;
  outline-style: auto;
}

.video-button > img,
.video-button > svg {
  width: 20px;
  height: 20px;
  filter: invert(48%) sepia(0%) saturate(1313%) hue-rotate(288deg)
    brightness(103%) contrast(80%);
  padding-right: 5px;
}

#like-button:hover::after,
#dislike-button:hover::after,
#share-button:hover::after {
  content: "Search";
  position: absolute;
  top: 50px;
  left: 8px;
  color: white;
  background-color: gray;
  padding: 5px;
}

#share-button:hover::after {
  left: 16px;
}
