body * {
  font-family: "Roboto", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100vw;
  background-color: white;
}

.navbar > * {
  margin: 10px;
}

/* Left section */
.logo-div {
  display: flex;
  align-items: center;
}

.logo-div > * {
  margin: 10px;
}

#list-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-div {
  display: flex;
  font-size: 0.7em;
  color: rgb(96, 96, 96);
}

#logo-icon {
  width: 80px;
  height: 18px;
  margin: 2px;
  cursor: pointer;
}

/* Search section */
.search-div {
  height: 32px;
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
}

#search-input {
  width: 550px;
  height: 32px;
  border: 1px solid transparent;
  border-right: 1px solid rgb(200, 200, 200);
  font-size: 1em;
  padding-left: 10px;
  border-radius: 2px;
  outline: none;
}

#search-input:focus {
  border: 1px solid rgb(0, 0, 170);
}

#search-button {
  width: 65px;
  height: 32px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(245, 245, 245);
  position: relative;
}

#search-button:hover {
  background-color: rgb(235, 235, 235);
} 

#search-button:hover::after {
  content: "Search";
  position: absolute;
  top: 50px;
  left: 8px;
  color: white;
  background-color: gray;
  padding: 5px;
}

#search-button:hover > #search-bar-icon {
  filter: brightness(0%);
}

#search-bar-icon {
  width: 15px;
  height: 15px;
  filter: invert(48%) sepia(0%) saturate(1313%) hue-rotate(288deg)
    brightness(103%) contrast(80%);
}

@media only screen and (max-width: 1200px) {
  #search-input {
    width: calc(100vw - 600px)
  }
}

@media only screen and (max-width: 700px) {
  .search-div {
    display: none;
  }
}

/* Icons */

.navbar-icons {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.icons {
  filter: invert(48%) sepia(0%) saturate(1313%) hue-rotate(288deg)
  brightness(83%) contrast(80%);
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

#person-icon {
  height: 32px;
  width: 32px;
  margin: 0px 10px;
  border-radius: 100%;
  cursor: pointer;
}

#search-icon {
  display: none;
}

@media only screen and (max-width: 656px) {
  #search-icon {
    display: block;
  }
}




main {
  background-color: rgb(246, 246, 246);
  width: 100vw;
  height: 1000px;
}